*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!build.sc
!README.md
build/

# Mill
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
Build.scala

# Kconfig
!Kconfig
config/
generated/
